server:
  port: 18080

spring:
  datasource:
    url: jdbc:h2:mem:channel_openapi;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.H2Dialect
  flyway:
    enabled: true
    validate-on-migrate: true
    locations: classpath:db/migration,classpath:db/seed

springdoc:
  api-docs:
    path: /v3/api-docs
    version: OPENAPI_3_0
  swagger-ui:
    path: /swagger-ui/index.html
